<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <!-- 右上角 -->
  <nav class="app-nav no-badge">
    <ul>
          <%
            var titles = ['主页', '资源', '关于']
            var urls = ['/', '/resource/', '/about/']
            
            var htmls = ""
            for (var i=0; i<titles.length; i++) {
              var curr = page.path
              var html = '<li><p><a href="' + urls[i] + '" title="' + 
                titles[i] + '">'+titles[i] +'</a></p></li>'
              
              if (curr == urls[i].substr(1) + "index.html") {
                  html = '<li><p><a href="' + urls[i] + '" title="' + 
                titles[i] + '" class="active">'+titles[i] +'</a></p></li>'
              } 
              htmls += html
            } 
            
            
          %>
          <%- htmls %>
    </ul>
  </nav>
  <div id="container">

    <button id="sidebar-toggle" class="sidebar-toggle">
      <input id="local-search-path" type="hidden" value="<%-url_for(config.search.path)%>" />
      <div class="sidebar-toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <aside class="sidebar">
    <%
      var current_category;
      var current_post_title;
      // 如果页面有分类
      if (page.categories) {
        current_category = page.categories.first();
        current_post_title = page.title;
      } else {
        current_category = site.categories.first();
        current_post_title = current_category.posts.first().title;
      }
    %>
    <%- partial('_partial/sidebar', {current_category: current_category, current_title: current_post_title}) %>
    </aside>


    <main>
      <div class="content">
        <!-- 对应的是 index.ejs -->
        <%- body %>
        
      </div>
    </main>

  </div>

  <%- partial('_partial/footer') %>
</body>

</html>